
<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Thời khóa biểu</title>
  <link rel="stylesheet" href="/css/timetable.css">

</head>
<body>
  <header>
    <img src="/images/logo.png" alt="Logo hệ thống" id="logo_navbar">
    <h2>STUGATE</h2>
    <div class="tt">
     <h4 id="sv_hoTen"><%= user.name %></h4>
      <form action="/logout" method ="get">
        <button type="submit" id="logout_button" >Đăng xuất</button>
      </form>
      
    </div>
  </header>

  <section class="warp">
    <nav>
        <ul class="menu">

          <li>
            <img src="/images/home_icon.png" alt="home_icon">
            <a href="">Trang chủ</a>
          </li>

          <li>
            <img src="/images/notion_icon.png" alt="home_icon">
            <a href="">Thông báo từ nhà trường</a>
          </li>

          <li>
            <img src="/images/private_infor_icon.png" alt="home_icon">
            <a href="">Thông tin cá nhân</a>
          </li>

          <li>
            <img src="/images/tkb_icon.png" alt="home_icon">
            <a href="/sv/tkb">Thời khóa biểu</a>
          </li>

          <li>
            <img src="/images/diem_icon.png" alt="home_icon">
            <a href="">Điểm</a>
          </li>

          <li>
            <img src="/images/dslh_icon.png" alt="home_icon">
            <a href="">Danh sách lớp học trực tuyến</a>
          </li>

          <li>
            <img src="/images/htt_icon.png" alt="home_icon">
            <a href="">Học trực tuyến</a>
          </li>

        </ul>
    </nav>
<div class="content">
    <table class="timetable">
        <thead>
            <tr>
                <th>Thứ</th>
                <th>Ngày</th>
                <th>Sáng</th>
                <th>Chiều</th>
                <th>Tối</th>
            </tr>
        </thead>
        <tbody id="timetable-body">
          <% if (Object.keys(groupedData).length > 0) { %>
            <% Object.keys(groupedData).forEach(thu => { %>
              <tr>
                <td>Thứ <%= thu %></td>
                <td>-</td>
                <td>
                  <% if (groupedData[thu].sang.length > 0) { %>
                    <%= groupedData[thu].sang.join('<br>') %>
                  <% } else { %>
                    -
                  <% } %>
                </td>
                <td>
                  <% if (groupedData[thu].chieu.length > 0) { %>
                    <%= groupedData[thu].chieu.join('<br>') %>
                  <% } else { %>
                    -
                  <% } %>
                </td>
                <td>
                  <% if (groupedData[thu].toi.length > 0) { %>
                    <%= groupedData[thu].toi.join('<br>') %>
                  <% } else { %>
                    -
                  <% } %>
                </td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="5">Không có dữ liệu thời khóa biểu.</td>
            </tr>
          <% } %>
        </tbody>
        
        
    </table>
</div>
  </section>

</body>
</html>
